.nav {
  margin: 30px auto;
}
.nav a {
  text-decoration: none;
  color: #333;
  padding: 8px 20px;
}

.nav .active {
  background-color: #00a2cf;
  color: #f4f4f4;
}
@media screen and (max-width: 500px) {
  .nav a {
    display: block;
    text-align: center;
    margin: 0;
  }
}
